﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
/* Стили таблицы (IKSWEB) */
    table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
    table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#354251;}
    table.iksweb td{font-size:13px;color:#354251;}
    table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #354251;}
    table.iksweb tr:hover{background-color:#f9fafb}
    table.iksweb tr:hover td{color:#354251;cursor:default;}
</style>

<div class="alert alert-danger">
@TempData["message"]
</div>

<form action="/Home/Result" method="post">
    <div class="input_block">
        Теплоемкость материалов, кДж/(кг • К) - 
        <input name="Gm" value="@Model.History?.Gm" autocomplete="off"  data-val="True" data-val-required="The Name field is required!"/>
        <br/>
        Расход материалов кг/с - 
        <input name="Cm" value="@Model.History?.Cm" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br/>
        Средняя теплоемкость газа,кДж/(м3 • К) - 
        <input name="Wr" value="@Model.History?.Wr" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        Скорость газа на свободное сечение шахты, м/с - 
        <input name="S" value="@Model.History?.S" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        Объемный коэффициент теплоотдачи, Вт/(м3 • К) - 
        <input name="V" value="@Model.History?.V" autocomplete="off"  data-val="True" data-val-required="The Name field is required!" />
        <br />
        Диаметр аппарата, м - 
        <input name="d" value="@Model.History?.d" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        Высота слоя, м - 
        <input name="Ho" value="@Model.History?.Ho" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        Начальная температура газа, 0С -
        <input name="Temp_1" value="@Model.History?.Temp_1" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        Начальная температура материала, 0С - 
        <input name="temp_2" value="@Model.History?.temp_2" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        Имя расчетов
        <input name="name" value="@Model.History?.name" autocomplete="off" data-val="True" data-val-required="The Name field is required!" />
        <br />
        <button type="submit">Расчет</button>
    </div>
@*    <div action="/Home/Result" class="button_block">
       
    </div>*@
</form>

<table class="iksweb">
    <tr>
        <td>Имя</td>
        <td>Gm</td>
        <td>Cm</td>
        <td>Wr</td>
        <td>S</td>
        <td>V</td>
        <td>d</td>
        <td>Ho</td>
        <td>Temp_1</td>
        <td>temp_2</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model.HistoryList)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.Gm</td>
            <td>@item.Cm</td>
            <td>@item.Wr</td>
            <td>@item.S</td>
            <td>@item.V</td>
            <td>@item.d</td>
            <td>@item.Ho</td>
            <td>@item.Temp_1</td>
            <td>@item.temp_2</td>
            <td><a href='/Home/Index/?HistoryId=@item.id'>Открыть</a></td>
            <td><a href='/Home/Remove/?HistoryId=@item.id'>Удалить</a></td>
        </tr>
    }
   
</table>