﻿@model CalculateOutput
@{
    ViewData["Title"] = "Result Page";
}

<style>
    /* Стили таблицы (IKSWEB) */
    table.iksweb {
        text-decoration: none;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

        table.iksweb th {
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;
            background-color: #354251;
        }

        table.iksweb td {
            font-size: 13px;
            color: #354251;
        }

        table.iksweb td, table.iksweb th {
            white-space: pre-wrap;
            padding: 10px 5px;
            line-height: 13px;
            vertical-align: middle;
            border: 1px solid #354251;
        }

        table.iksweb tr:hover {
            background-color: #f9fafb
        }

        table.iksweb tr:hover td {
            color: #354251;
            cursor: default;
        }
</style>


<div class="result_block">


    <p>m: @Model.Mas[0].m</p>
    <p>Y_0: @Model.Mas[0].Y_0</p>
    <p>m_y: @Model.Mas[0].m_y</p>
    <table class="iksweb">
        <tr>
            <td>h</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].h</td>
            }
        </tr>
        <tr>
            <td>Y</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].Y</td>
            }
        </tr>
        <tr>
            <td>a2</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].a2</td>
            }
        </tr>
        <tr>
            <td>a3</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].a3</td>
            }
        </tr>
        <tr>
            <td>a4</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].a4</td>
            }
        </tr>
         <tr>
            <td>a5</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                    <td>@Model.Mas[i].a5</td>
            }
        </tr>
        <tr>
            <td>a6</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].a6</td>
            }
        </tr>
        <tr>
            <td>a7</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].a7</td>
            }
        </tr>
        <tr>
            <td>a8</td>
            @for (int i = 0; i < Model.Mas.Count; i++)
            {
                <td>@Model.Mas[i].a8</td>
            }
        </tr>
    </table>
</div>

@if(Model.Mas != null)
{
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        const data = {
            labels: @Json.Serialize(Model.Mas.Select(x => x.h).ToList()),
            datasets: [
                {
                    label: 'Начальная температура окатышей',
                    data: @Json.Serialize(Model.Mas.Select(x => x.a6).ToList()),
                }, {
                    label: 'Начальная температура воздуха',
                    data: @Json.Serialize(Model.Mas.Select(x => x.a7).ToList()),
                },
                {
                    label: 'Разность температур',
                    data: @Json.Serialize(Model.Mas.Select(x => x.a8).ToList()),
                }
            ]
        };

        const configLine = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Диаграмма 1'
                    }
                }
            },
        };

        new Chart(ctx, configLine);

    </script>
}