﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<form action="/Login/" method="post">
    <div class="input_block">
        E-mail
        <input name="email" value="olegtirex@mail.ru" autocomplete="off">
        <br/>
        Password:
        <input name="password" value="04042002" autocomplete="off">
        <br/>
        <button type="submit">Войти</button>
    </div>
</form>
